# Ignore Python bytecode
*.pyc
*.pyo
*.pyd

# Ignore __pycache__ directories
__pycache__/

# Ignore virtual environment folders
venv/
.env/
.idea/

# Ignore data folders
resources/data/
resources/test_images/
resources/LFWdataset
run_server.sh
run_server2.sh

*.DS_Store

facematch-env/
LFWdataset/
.env

chroma.log
/src/facematch/models/*
/debug_detections
/visualization
debug_faces

/test_results
/benchmark_testing/resources

results-csv/
output-csv-dump/